
.btn-floating {
    background: url(../imagenes/iconos/ic_reorder_whites.png) no-repeat
}

.sider-nav{
    top:0;
    margin:0;
    height:calc(100% + 60px);
    background-color: #fff;
    overflow-y:auto;
    will-change:tranform;
}
.img-nav{
    width: 250px;
    height: 250px;
}
@media(max-with: 1024px) {
    .sider-nav {
        display:none;
    }
}
@media(min-with:800px) {
    .container {
        max-width: 60%;
    }
    .sider-nav {
        max-width: 20%;
        display: block;
    }
}
