
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container2">
    <h4>Usuarios</h4>
    <div class="row">
        <div class="input-field col s1">
            <a asp-area="Usuarios" asp-page="/Registrar/Registrar" class="waves-effect waves-light btn">Registrar</a>
        </div>
    </div>
</div>

